.back{
    background-image: url(./images/cows.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    opacity: 0.9;
    
}
table ,th ,td{
    text-align: center;
    border: 2px solid black;
    margin: 170px;

}

.ouputfield {
    background-color: red;
    color: white;
    margin: 1% 5% 5% 5%;
    padding: 2% 5% 5% 5%;
    border: 2px solid yellowgreen;
    box-shadow: 2vh 1vh 3vh .5vh blue ;
    width: 50%;
    animation: shadow 2s linear infinite;
    transition: 1s linear 0s;
}

.ouputfield:hover,
.ouputfield:active {
    animation: interactive 1s linear infinite;
}

.outputcontainer {
    display: flex;
    justify-content: center;
}

.anim {
    font-weight: 900;
    color: whitesmoke;
    font-size: 7vw;
}

.inputbutton {
    height: 14vw;
    width: 40vw;
    margin: 3% 0 3% 0;
    background-color: blue;
    color: white;
    font-size: 3.3vw;
    font-weight: 700;
    border: 1px solid white;
   
    display: inline;
    transition: .2s linear 0s;
    cursor: pointer;
}

.inputbutton:hover,
.inputbutton:active {
    background-color: white;
    color: red;
    border: 1px solid rgba(0, 0, 0, 0.712);
}
